{% extends 'base.html' %}
{% block content %}
    <div class="mb-5" data-scrollax=" properties: { translateY: '70%' }">
        <div class="container" style = "margin-bottom: 100px"  >
            <p class="mb-5 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 } ">
                <h5 style="color:#FFFFFF">RESULTS FOR:
                    {% if not NoTitle %}
                        <strong>"{{ title }}"</strong>
                    {% endif %}
                    {% if not NoTitle and not NoCategory%}
                        in
                    {% endif %}
                    {% if not NoCategory %}
                        <strong>{{ category }}</strong>
                    {% endif %}
                    {% if not NoLocation %}
                        {% if not NoCategory or not NoTitle %}
                            at
                        {% endif %}
                        <strong>{{ location }}</strong>
                    {% endif %}
                </h5>
            </p>
    <section id="first-tab-group" class="tabgroup">


        {% for t in jobs %}
        <div style="background-color:#FFFFFF;
                                            border-radius: 25px;
                                            width:750px" class="tab active p-4 ">
            <ul>
                <li>
                      <div class="item row">
                        <div class="col-md-15 p-2">
                             <h4>{{ t.0 }}</h4>
                                <span>Category: <strong>{{ t.1 }}</strong></span>
                                <span><strong>{{ t.2 }}</strong></span>
                             <p>Description: {{ t.3 }}</p>
                            <div class="accent-button button">
                                 <a href="#contact">Continue Reading</a>
                            </div>
                        </div>
                          <div class="col-md-15 pl-5">

                        </div>
                      </div>
                </li>
            </ul>
        </div>
    {% endfor %}
        </section>
        </div>
        </div>
    </div>

</body>
</html>
{% endblock content %}
